tex/*/*.gz
tex/*/*.out
tex/*/*.out
tex/*/*.log
tex/*/*.aux
tex/*/*.pdf
tex/*/*.bbl
tex/*/*.blg
tex/*/*.toc
code/scan_for_matches/scan_for_matches
code/patscan-patterns/benchmark/*/*.re
code/patscan-patterns/benchmark/*/*.txt
